<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <EbayEnterprise_MultipleCoupons>
            <version>0.1.0</version>
        </EbayEnterprise_MultipleCoupons>
    </modules>
    <global>
        <models>
            <ebayenterprise_multiplecoupons>
                <class>EbayEnterprise_MultipleCoupons_Model</class>
            </ebayenterprise_multiplecoupons>
            <salesrule>
                <rewrite>
                    <validator>EbayEnterprise_MultipleCoupons_Model_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <ebayenterprise_multiplecoupons>
                <class>EbayEnterprise_MultipleCoupons_Block</class>
            </ebayenterprise_multiplecoupons>
            <checkout>
                <rewrite>
                    <cart_coupon>EbayEnterprise_MultipleCoupons_Block_Checkout_Cart_Coupon</cart_coupon>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_create_coupons>EbayEnterprise_MultipleCoupons_Block_Adminhtml_Sales_Order_Create_Coupon</sales_order_create_coupons>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <sales_order_place_after>
                <observers>
                    <ebayenterprise_multiplecoupons>
                        <class>ebayenterprise_multiplecoupons/observer</class>
                        <method>handleSalesOrderPlaceAfter</method>
                    </ebayenterprise_multiplecoupons>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <ebayenterprise_multiplecoupons>
                        <class>ebayenterprise_multiplecoupons/observer</class>
                        <method>warnMaximumCoupons</method>
                    </ebayenterprise_multiplecoupons>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
        </events>
        <routers>
            <ebayenterprise_multiplecoupons>
                <use>standard</use>
                <args>
                    <module>EbayEnterprise_MultipleCoupons</module>
                    <frontName>coupons</frontName>
                </args>
            </ebayenterprise_multiplecoupons>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ebayenterprise_multiplecoupons>
                    <file>ebayenterprise_multiplecoupons.xml</file>
                </ebayenterprise_multiplecoupons>
            </updates>
        </layout>
        <events>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <amcoupons>
                        <class>ebayenterprise_multiplecoupons/observer</class>
                        <method>handleAdminCouponAdd</method>
                    </amcoupons>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
        </events>
    </adminhtml>
    <default>
        <promo>
            <multiple_coupons>
                <max_num_coupons>2</max_num_coupons>
            </multiple_coupons>
        </promo>
    </default>
</config>
